html, body {
    height: 100%;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .header .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content .container {
    background-color: #282a36;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.content .header {
    background-color: #474955;
    display: flex;
    flex: 0 1 40px;
}

.content .footer {
    background-color: #474955;
    display: flex;
    flex: 0 1 40px;
}