<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/main-style.css">
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>

<div class="content">

    <div class="content container">

        <div class="content header">

            <header class="content header info">
                <h3><a href="/categories">Categories</a></h3>
                <h3><a href="/posts">Posts</a></h3>
                <h3><a href="/authors">Authors</a></h3>
                <h3><a href="/tags">Tags</a></h3>
            </header>

        </div>

        <div th:each="author : ${authors}">

            <h1 class="content title">
                <a th:text="${author.getName()}" th:href="@{'/authors/' + ${author.getId()}}">Author</a>
            </h1>

        </div>


    </div>

    <footer class="content footer">Footer <a href="/">Back Home</a></footer>

</div>

</body>
</html>