<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/main-style.css">
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>

<div class="content">

    <header class="content header">Header</header>

    <div class="content container">

        <h1 class="content title" th:each="category : ${categories}">
            <a th:href="@{'/categories/' + ${category.getName()}}" th:text="${category.getName()}">
                Category
            </a>
        </h1>

    </div>

    <footer class="content footer">Footer <a href="/">Back Home</a></footer>

</div>

</body>
</html>