<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main-style.css">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body class="content">


<header class="content__header">
    <h3><a href="/categories">Categories</a></h3>
    <h3><a href="/posts">Posts</a></h3>
    <h3><a href="/authors">Authors</a></h3>
    <h3><a href="/tags">Tags</a></h3>
</header>


<div class="content__container">

    <h1 class="content__title">Blog Home Page</h1>

    <h2 class="content__title">
        <a href="/categories">Categories</a>
    </h2>

    <h2 class="content__title">
        <a href="/posts">Posts</a>
    </h2>

    <h2 class="content__title">
        <a href="/tags">Tags</a>
    </h2>

    <h2 class="content__title">
        <a href="/authors">Authors</a>
    </h2>

    </div>


<footer class="content__footer"><a href="/">Back Home</a></footer>


</body>
</html>