<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main-style.css">
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}">Title</title>
</head>
<body>

<div class="content header">

    <header class="content header info">
        <h3><a href="/categories">Categories</a></h3>
        <h3><a href="/posts">Posts</a></h3>
        <h3><a href="/authors">Authors</a></h3>
        <h3><a href="/tags">Tags</a></h3>
    </header>

</div>

<h1 th:text="${post.getTitle()}">Post Title</h1>

<h2><a th:text="${post.getCategory().getName()}" th:href="@{'/categories/' + ${post.getCategory().getName()}}"></a></h2>

<p th:text="${post.getBody()}">Post Body</p>

<p>
    Posted <a th:text="${post.getDate()}" th:remove="tag">Date</a> by <a
        th:href="@{'/authors/' + ${post.getAuthor().getId()}}" th:text="${post.getAuthor().getName()}">Author</a>
</p>

<div th:each="tag : ${post.getTags()}">
    <p><a th:text="${tag.getName()}" th:href="@{'/tags/' + ${tag.getId()}}">Tag</a></p>
</div>

<footer class="content footer">Footer <a href="/">Back Home</a></footer>


</body>
</html>