<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}">Title</title>
</head>
<body>

<h1 th:text="${post.getTitle()}">Post Title</h1>

<h2><a th:text="${post.getCategory().getName()}" th:href="@{'/categories/' + ${post.getCategory().getName()}}"></a></h2>

<h3>
    <a th:text="'By ' + ${post.getAuthor().getName()}" th:href="@{'/authors/' + ${post.getAuthor().getId()}}">Author</a>
</h3>

<p th:text="${post.getBody()}">Post Body</p>

<div th:each="tag : ${post.getTags()}">
    <p><a th:text="${tag.getName()}" th:href="@{'/tags/' + ${tag.getId()}}">Tag</a></p>
</div>

</body>
</html>