<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main-style.css">
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>

<div class="content">

    <div class="content header">

        <header class="content header info">
            <h3><a href="/categories">Categories</a></h3>
            <h3><a href="/posts">Posts</a></h3>
            <h3><a href="/authors">Authors</a></h3>
            <h3><a href="/tags">Tags</a></h3>
        </header>

    </div>


    <div class="content container">

        <h1 class="content title">Posts</h1>

        <div class="content section" th:each="post : ${posts}">

            <h2 class="content section title">
                <a th:text="${post.getTitle()}" th:href="@{'/posts/' + ${post.getId()}}">Title</a>
            </h2>

        </div>

        <form action="/posts/add-post" method="post">
            <fieldset>
                <legend>New Post</legend>
                <label for="category">
                    Category<br>
                    <select id="category" name="category">
                        <option th:each="category : ${categories}" th:value="${category.getName()}"
                                th:text="${category.getName()}">Category
                        </option>
                    </select>
                </label>
                <br><br>
                <label for="author">
                    Author<br>
                    <select id="author" name="author">
                        <option th:each="author : ${authors}" th:value="${author.getName()}"
                                th:text="${author.getName()}">Author
                        </option>
                    </select>
                </label>
                <br><br>
                <label for="title">
                    Title<br>
                    <input type="text" id="title" name="title"><br><br>
                </label>
                <label for="body">
                    Body<br>
                    <textarea id="body" name="body" rows="10" cols="50" placeholder="Write your post..."></textarea>
                </label>
                <br><br>
                <button type="submit">Create</button>
            </fieldset>
            <br>
        </form>

    </div>

    <footer class="content footer">Footer <a href="/">Back Home</a></footer>

</div>

</body>
</html>